<section class="carousel">
    <div class="container-flex p-0 m-0">
        <div class="slides" id="slide-1">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
        <div class="slides " id="slide-2">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
        <div class="slides " id="slide-3">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
         <div class="slide-controllers container w-100">
            <span class="left" id="prev" onclick="prev()">
                <i class="fa fa-arrow-left"></i>
            </span>
            <span class="right" id="next">
                <i class="fa fa-arrow-right" onclick="next()"></i>
            </span>
        </div> 
    </div>
</section><!-- end carousel -->



{% comment %} <section class="carousel">
    <div class="container-flex p-0 m-0 carousel slide">
        <div class="slides carousel-item active" id="slide-1">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
        <div class="slides carousel-item" id="slide-2">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
        <div class="slides carousel-item" id="slide-3">
            <div class="container-flex">
                <h1 class="text-center">SLIDE 1</h1>
            </div>
        </div>
        <div class="slide-controllers container w-100">
            <span class="left" id="prev" onclick="prev()">
                <i class="fa fa-arrow-left"></i>
            </span>
            <span class="right" id="next">
                <i class="fa fa-arrow-right" onclick="next()"></i>
            </span>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
</section><!-- end carousel -->  {% endcomment %}